<%
	# Metric keys
	abc_keys = ['abc', 'abcAverageClass', 'abcAverageMethod', 'assigments', 'accessors', 'branchs', 'classes', 'conditions', 'functions'];
	
	abc_metrics = {};
	abc_measures = {};
	
	# Collect ABC metrics and measures
	abc_keys.each do |key|
		# Metric by key
		metricObj = Metric.by_key(key);
		
		if(!metricObj.nil?)
			measureObj = measure(key);
			
			if(!measureObj.nil? && !measureObj.value.nil?)
				abc_metrics[key] = metricObj;
				abc_measures[key] = format_measure(key);
			end
		end
	end
	
%>
<div style="width: 100%">
	<% if(abc_metrics.length == 9 && abc_measures.length == 9) %>
		<div class="tab_header">
			<table>
				<tbody>
					<tr>
						<td align="left" colspan="2">
							<span class="big"><%= abc_measures['abc'] -%></span>
						</td>
					</tr>
					<tr>
						<td>
							<table>
								<tr>
									<td>
										<span class="metric"><%= abc_metrics['assigments'].short_name -%>:</span>
									</td>
									<td align="right">
										<span class="value"><b><%= abc_measures['assigments'] -%></b></span>
									</td>
								</tr>
								<tr>
									<td>
										<span class="metric"><%= abc_metrics['branchs'].short_name -%>:</span>
									</td>
									<td align="right">
										<span class="value"><b><%= abc_measures['branchs'] -%></b></span>
									</td>
								</tr>
								<tr>
									<td>
										<span class="metric"><%= abc_metrics['conditions'].short_name -%>:</span>
									</td>
									<td align="right">
										<span class="value"><b><%= abc_measures['conditions'] -%></b></span>
									</td>
								</tr>
							</table>
						</td>
						<td>
							<table>
								<tr>
									<td>
										<span class="metric"><%= abc_metrics['abcAverageMethod'].short_name -%>:</span>
									</td>
									<td align="right">
										<span class="value"><b><%= abc_measures['abcAverageMethod'] -%></b></span>
									</td>
									<td>
										<span class="metric"><%= abc_metrics['functions'].short_name -%>:</span>
									</td>
									<td align="right">
										<span class="value"><b><%= abc_measures['functions'] -%></b></span>
									</td>
								</tr>
								<tr>
									<td>
										<span class="metric"><%= abc_metrics['abcAverageClass'].short_name -%>:</span>
									</td>
									<td align="right">
										<span class="value"><b><%= abc_measures['abcAverageClass'] -%></b></span>
									</td>
									<td>
										<span class="metric"><%= abc_metrics['classes'].short_name -%>:</span>
									</td>
									<td align="right">
										<span class="value"><b><%= abc_measures['classes'] -%></b></span>
									</td>
									<td colspan="2"></td>
								</tr>
								<tr>
									<td>
										<span class="metric"><%= abc_metrics['accessors'].short_name -%>:</span>
									</td>
									<td align="right">
										<span class="value"><b><%= abc_measures['accessors'] -%></b></span>
									</td>
									<td colspan="2"></td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	<% end %>
</div>