<% if measure('abc') && measure('methodAbcDistribution') && measure('classAbcDistribution') && measure('abcAverageMethod') && measure('abcAverageClass')%>
<%

  def getConfigValue(key, defaultValue)
	value = Property.value(key, @project.id, '');
	if (value.blank?)
		value = configuration(key);
	end
	if (value.blank?)
		value = defaultValue || '';
	end
	return value;
  end

 function_abc=measure('abcAverageMethod')
 class_abc=measure('abcAverageClass')

 if function_abc || class_abc
  abc=measure('abc')
  
 # Properties
 threshold_function=getConfigValue('abc.threshold_function', 'LOW=15.9; MEDIUM=30.9; HIGH=45.9');
  # THRESHOLD FUNCTION
  if (!threshold_function.nil?)
  	threshold_functionArray = threshold_function.split(';');
  	
  	function_no=threshold_functionArray[0].split('=')[1];
  	function_moderated=threshold_functionArray[1].split('=')[1];
  	function_high=threshold_functionArray[2].split('=')[1];

  end
 
 threshold_class=getConfigValue('abc.threshold_class', 'LOW=30.9; MEDIUM=60.9; HIGH=90.9');
  # THRESHOLD CLASS
  if (!threshold_class.nil?)
  	threshold_classArray = threshold_class.split(';');
  	
  	class_no=threshold_classArray[0].split('=')[1];
  	class_moderated=threshold_classArray[1].split('=')[1];
  	class_high=threshold_classArray[2].split('=')[1];
  end

%>
<table class="width100">
  <tbody>
    <tr>
      <td valign="top" width="50%">
        <div id="div_abc1" class="dashbox" >
         <h3><%= message('metric.abc.name', :default => 'Abc metric') %></h3>

         <% if function_abc %>
           <p>
             <span class="big"><%= format_measure(function_abc, :suffix => '', :url => url_for_drilldown(function_abc)) %></span> /<%= message('widget.method.name', :default => 'method') %>
             <%= dashboard_configuration.selected_period? ? format_variation(function_abc) : trend_icon(function_abc) -%>
             &nbsp;
                                       
             <% if measure('abcAverageMethod').value <= function_no.to_i %>
             	<span style="cursor:help" title="<%= message('widget.ok.name') -%>"> <img src="<%= ApplicationController.root_context -%>/images/levels/ok.png?1329323133"/></span>
             <% elsif measure('abcAverageMethod').value > function_no.to_i && measure('abcAverageMethod').value <= function_moderated.to_i %>
             	<span style="cursor:help" title="<%= message('widget.warn.name') -%>"> <img src="<%= ApplicationController.root_context -%>/images/levels/warn.png?1329323133"/></span>
             <% elsif measure('abcAverageMethod').value > function_moderated.to_i && measure('abcAverageMethod').value <= function_high.to_i %>
                <span style="cursor:help" title="<%= message('widget.error.name') -%>"> <img src="<%= ApplicationController.root_context -%>/images/levels/error.png?1329323133"/></span>
			<% elsif measure('abcAverageMethod').value > function_high.to_i %>
				<span style="cursor:help" title="<%= message('widget.cross.name') -%>"> <img src="<%= ApplicationController.root_context -%>/images/controls/cross.png?1329323133"/></span>
            <% end %>
           </p>
           
         <% end %>
         <% if class_abc %>
           <p>
             <span class="big"><%= format_measure(class_abc, :suffix => '', :url => url_for_drilldown(class_abc)) %></span> /<%= message('widget.class.name', :default => 'class') %>
             <%= dashboard_configuration.selected_period? ? format_variation(class_abc) : trend_icon(class_abc) -%>
             &nbsp;
             
             <% if measure('abcAverageClass').value <= class_no.to_i %>
              	<span style="cursor:help" title="<%= message('widget.ok.name') -%>"> <img src="<%= ApplicationController.root_context -%>/images/levels/ok.png?1329323133"/></span>            	
             <% elsif measure('abcAverageClass').value > class_no.to_i && measure('abcAverageClass').value <= class_moderated.to_i %>
             	<span style="cursor:help" title="<%= message('widget.warn.name') -%>"> <img src="<%= ApplicationController.root_context -%>/images/levels/warn.png?1329323133"/></span>
             <% elsif measure('abcAverageClass').value > class_moderated.to_i && measure('abcAverageClass').value <= class_high.to_i %>
                <span style="cursor:help" title="<%= message('widget.error.name') -%>"> <img src="<%= ApplicationController.root_context -%>/images/levels/error.png?1329323133"/></span>
			<% elsif measure('abcAverageClass').value > class_high.to_i %>
			    <span style="cursor:help" title="<%= message('widget.cross.name') -%>"> <img src="<%= ApplicationController.root_context -%>/images/controls/cross.png?1329323133"/></span>
            <% end %>
		   </p>
         <% end %>
         <% if abc %>
         <p>
           Total: <%= format_measure(abc, :url => url_for_drilldown(abc)) -%> <%= dashboard_configuration.selected_period? ? format_variation(abc) : trend_icon(abc) -%>
         </p>
         <% end %>
        </div>
      </td>
      <td valign="top" width="50%" nowrap>

      
<%
 function_distribution=measure('methodAbcDistribution')
 class_distribution=measure('classAbcDistribution')
 
 distributions=[function_distribution,class_distribution].compact
 
 selected_distribution=nil
 if distributions.size>0
   selected_distribution=distributions.first
 end
 if selected_distribution
%>
<div class="dashbox" id="cmp_charts_abc">
 <script type='text/javascript'>
   //<![CDATA[
   function selectAbc(metric) {
     $$('#cmp_charts_abc .chart').each(function(chart) {
       chart.hide();
     });
     $('chart_' + metric).show();
   }
 </script>
 <style>
  #cmp_charts_abc form {
   font-size: 93%;padding-left: 30px;
  }
  #cmp_charts_abc form label {
   padding-right: 5px;
  }
 </style>
 <% distributions.each do |distribution_measure| %>
   <%= render :partial => 'project/widgets/complexity_chart', :locals => { :metric => distribution_measure.metric.key, :title => distribution_measure.metric.description, :visible => (selected_distribution==distribution_measure) } %>
 <% end %>

 <form>
 <%
 count_dist=0
 if function_distribution
   count_dist+=1
 %>
	<input type="radio" name="cmp_dist_abc" value="function_abc_distribution" id="cmp_dist_function_abc_distribution" onClick="selectAbc('methodAbcDistribution');" <%= 'checked' if function_distribution==selected_distribution -%>></input> <label for="cmp_dist_function_abc_distribution"><%= message('widget.methods.name', :default => 'methods') %></label>
 <%
 end
 if class_distribution
  count_dist+=1
 %>
	<input type="radio" name="cmp_dist_abc" value="class_abc_distribution" id="cmp_dist_class_abc_distribution" onClick="selectAbc('classAbcDistribution');" <%= 'checked' if class_distribution==selected_distribution -%>></input> <label for="cmp_dist_class_abc_distribution"><%= message('widget.classes.name', :default => 'Classes') %></label><%= '<br/>' if count_dist==2 %>
 <% end %>

 </form>

</div>
<% end %>

  </td>
  </tr>
  </tbody>
 </table>
<div id="div_abc2" class="clear"></div>
<% end %>
<% end %>